div.content {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 30px;

}
.content_footer{
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 1em;
	font-size: 1em;
}
@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-v4020-Regular.otf');
}

@font-face {
    font-family: 'Raleway-Extralight';
    src: url('../fonts/Raleway/Raleway-v4020-ExtraLight.otf');
}
* {
    margin: 0;
    padding: 0;
}

.main-form {
    border: 0.5px solid black;
    width: 40%;
    height: 50%;
    margin: 5% auto 0 auto;
    background-color: none;
    color: black;
    font-family: Raleway;
    font-size: 24px;
    border-radius: 10px;
}

.form-logo {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

.form-logo > img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.input-title {
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    font-family: Raleway;
    font-weight: bold;
    letter-spacing: 2px;
}

.autorization-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 100px;
}

.input-form {
    width: 80%;
    margin: 10px auto;
    border: none;
    font-family: Raleway;
    border-bottom: 1px solid black;
    background-color: none;
}

.input-form::placeholder {
    color: black;
    font-family: Raleway-ExtraLight;
}

.autorization-form > a {
    display: block;
    margin: 15px auto 0 auto;
    text-align: center;
    background-color: none;
    border: 2px solid #F5821F;
    padding: 6px 50px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.4s ease-in;
    font-family: Raleway;
}

.autorization-form > a:hover {
    transition: 0.4s ease-in;
    background-color: #F5821F;
    color: white;
}